<li>
  <p class="user">{{post.user}}</p>
  <p class="title">{{post.title}}</p>
  {{#if fullPostDisplaying }}
    <p class="image"><img src={{post.catPic}} alt={{post.title}} {{action 'fullPostNoDisplay'}}></p>
    <p class="message">{{post.message}}</p>
  {{else}}
    <button {{action 'fullPostDisplays'}}>Full Post</button>
  {{/if}}
  <br><br><p class="tldr">tl:dr: {{post.tldr}}</p>
  <br><br>
</li>
