<li class="tile">
  <p class="title">{{post.title}}</p>
  <p class="user">By: {{post.user}}</p>

  {{#if fullPostDisplaying }}
    <p class="image"><img src={{post.catPic}} alt={{post.title}} {{action 'fullPostNoDisplay'}}></p>
    <p class="message">{{post.message}}</p>
    {{add-comment add='add'}}

  {{else}}
    <button class="fullPost" {{action 'fullPostDisplays'}}>Full Post</button>

  {{/if}}

  <p class="tldr">(tl:dr: {{post.tldr}})</p>

  {{edit-post post=post edit="edit"}}
  <button class="delete" {{action 'delete' post}}>Remove</button>
  <br><br>
</li>
