<li>
  <p class="title">{{post.title}}</p>
  <p class="user">By: {{post.user}}</p>
  {{#if fullPostDisplaying }}
    <p class="image"><img src={{post.catPic}} alt={{post.title}} {{action 'fullPostNoDisplay'}}></p>
    <p class="message">{{post.message}}</p>

  {{else}}
    <button {{action 'fullPostDisplays'}}>Full Post</button>
  {{/if}}
  <br><br><p class="tldr">tl:dr: {{post.tldr}}</p>
  {{edit-post post=post edit="edit"}}
  <button {{action 'delete' post}}>Remove</button>
  <br><br>
</li>
